body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    color: #333;
    background-color: #eee
}


#img-div {
    background-color: white;
    padding: 10px;

}

#img-div img {
    max-width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tribute-info li {
    text-align: left;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

}

#quote {
    max-width: 550px;
    text-align: left;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}